.main_container {
    flex-wrap: wrap;
    display: flex;
    background-color: indianred;
    width: 1600px;
    min-height: 100vh; 
    align-items: center;
    justify-content: space-evenly;

}

.first_block {
    display: flex;
    background-color: orange;
    width: 400px;
    height: 160px;
    justify-content: space-evenly;
    justify-content: flex-end;
}

.item1 {
    display: flex;
    background-color: mediumblue;
    width: 78px;
    height: 78px;
    border-color: black solid;
}

/*
.sec_block {
    display: flex;
    background-color: green;
    width: 400px;
    height: 160px;
}

.third_block {
    display: flex;
    background-color: grey;
    width: 400px;
    height: 160px;
}

.fourth_block {
    display: flex;
    background-color: rebeccapurple;
    width: 400px;
    height: 160px;
}

.fifth_block {
    display: flex;
    background-color: lightgray;
    width: 400px;
    height: 160px;
}

.sixth_block {
    display: flex;
    background-color: lightsteelblue;
    width: 400px;
    height: 160px;
}
*/